node_modules/

.env
.env.*
!.env.example

dist/

src/generated/

*.log
logs/

.DS_Store
Thumbs.db

.vscode/
.idea/

*.tmp
*.temp

.vercel/

*.tsbuildinfo
/generated/prisma

/prisma/src/generated/prisma
.vercel
/prisma/src/generated/prisma
